section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

article {
    width: 400px;
    margin: 10px;
    padding: 10px;
    border: 2px solid skyblue;
    border-radius: 25px;
    background-color: lightblue;
    color: rgb(71, 53, 53)
}